$color-primary: rgba(224, 35, 255, 1);
$background-card: linear-gradient(
  49deg,
  rgba(255, 197, 249, 1) 15%,
  rgba(224, 35, 255, 1) 100%
);
$color-stats: #e85382;
$color-info: #3899f8;
$color-evolution: #f8d030;
